################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/codeql-example/.vs/codeql-example/v16
/src/codeql-example/codeql-example/bin/Debug/netcoreapp3.1
/src/codeql-example/codeql-example/obj
/src/codeql-example/.vs/codeql-example/DesignTimeBuild
